/* CABECERA */
.contenedor header {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  background-color: rgb(22, 22, 97);
  color: azure;
}

/* MENU */
#menu {
  margin: auto;
  width: 700px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;

}

ul,
ol {
  list-style: none;
}

.nav {
  width: 1000px;
  margin: 0 auto;
}

.nav>li {
  float: left;
}

.nav li a {
  background-color: #2d458a;
  color: #fff;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
}

.nav li a:hover {
  background-color: rgb(92, 138, 187);
  text-decoration: underline;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover>ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}