
main
{
    border: white solid 1px;
}
.tarjeta
{
    border: 2px solid white;
    margin-bottom: 20px;
}
.tarjeta h1
{
    background-color: aliceblue;
    color: blue;
}
.tarjeta p::first-letter
{
    margin-left: 20pX;
    font-size: 2em;
}

#principal{
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: -1;
}
#TerraInfo{
    margin-left: 15%;
    margin-right: 15%;
    float: left;
    color: white;
    filter: brightness(80%);
    margin-top: 30px;
    margin-bottom: 25px;
}
#TerraInfo h1{
    padding: 10px;

}
#TerraInfo p{
    font-size: large;
    padding: 15px;


}
#rowbotham{
    float: left;
    height: 150px;
    margin: 5px;
}
#shenton{
    float: left;
    height: 150px;
    margin: 5px;
}
#shaq{
    float: left;
    height: 250px;
    margin: 5px;
}
#Kyrie{
    float: left;
    height: 250px;
    margin: 5px;
}